/* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Modern looking font */
}

/* Ensure full height and no overflow */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Layout styles */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top navigation bar styles */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #222;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Add display flex */
  justify-content: space-between; 
}

.navbar ul {
  list-style: none; /* Remove bullet points */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
  list-style: none; /* Remove bullet points */
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Content styles */
.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-top: 60px; /* Adjusted margin top */
  max-width: 1000px; /* Adjusted max width */
}

.navbar .title {
  color: #fff;
  font-size: 24px;
  margin: 0;
}


.navbar form {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the form to the right */
}

.navbar input,
.navbar button {
  margin-left: 10px; /* Added margin between input and button */
}

.navbar input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3; /* Light gray background */
}

.navbar button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #969696; /* New color */
  color: #fff;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #777; /* Darker color on hover */
}
